<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor eget
  tortor sit amet rhoncus. Fusce interdum finibus libero, sed sollicitudin
  ligula semper id. Curabitur nec rutrum ante, sit amet aliquet ante. Praesent
  semper lorem in molestie consectetur. Aliquam vitae quam facilisis odio varius
  interdum. Aenean ipsum ligula, sollicitudin eget nisi interdum, facilisis
  bibendum lacus. Duis porta et mauris quis sodales. Duis a tincidunt odio, id
  lobortis augue. Suspendisse ultricies non ex vitae rutrum. Pellentesque
  viverra bibendum tempor. Praesent auctor odio non mi scelerisque, non sodales
  ipsum efficitur. Duis a neque quis lectus rhoncus vestibulum quis ut diam.
  Suspendisse dictum rutrum est, convallis hendrerit odio euismod sed. Fusce
  condimentum varius nisl id molestie. Nullam ornare tempus erat vitae ultrices.
</p>
<p *ngIf="paragraphCount > 1">
  Phasellus id sapien in dolor fringilla iaculis. Etiam iaculis elit nec nunc
  laoreet vehicula. Donec elementum orci ullamcorper, efficitur velit vitae,
  placerat lorem. In sollicitudin in nisi at consequat. Pellentesque semper ante
  orci, eget iaculis purus porttitor vel. Curabitur eleifend elementum ligula a
  congue. Sed vel orci ac dolor sollicitudin dapibus. Nam vestibulum suscipit
  nibh nec feugiat. Mauris sagittis nunc nec ante pulvinar blandit. Etiam
  porttitor ullamcorper neque, vel euismod risus elementum eu. Donec venenatis
  quam porta nunc blandit, porttitor maximus nisl venenatis. Donec accumsan,
  arcu vitae mattis facilisis, mauris nunc dictum diam, sed tristique risus elit
  vitae augue.
</p>
<p *ngIf="paragraphCount > 2">
  Aenean ac neque pulvinar, pretium massa quis, scelerisque massa. Duis mattis
  ultricies justo, non tristique odio. In a augue id nunc scelerisque viverra
  nec eget nunc. Suspendisse vel maximus turpis. Nam ipsum dui, suscipit vel
  accumsan ac, euismod nec metus. Morbi accumsan molestie lectus, quis euismod
  urna condimentum at. Duis vel sem et purus aliquam ultricies. Sed et feugiat
  velit. Aliquam vehicula metus et mauris vulputate ultricies vel at lorem.
  Nullam dapibus risus nibh, eu rutrum nisl posuere quis. Sed et est vehicula,
  finibus quam nec, suscipit velit.
</p>
<p *ngIf="paragraphCount > 3">
  Curabitur vel euismod velit. Fusce porttitor sapien eu elit commodo, ultricies
  auctor mauris fringilla. Vivamus fermentum libero congue massa tincidunt, ac
  rhoncus dui tempus. Nulla id condimentum justo. Etiam feugiat ex eget arcu
  dictum commodo. Suspendisse egestas odio imperdiet condimentum convallis. Sed
  eget tincidunt ligula. Maecenas blandit auctor scelerisque. Nam ut pretium
  est. Duis sed lorem vestibulum, dictum dolor sit amet, pharetra diam. Ut et
  tellus pulvinar tortor interdum imperdiet. Quisque tristique id neque ac
  molestie. Fusce sit amet mollis velit, ut fermentum augue. Phasellus
  pellentesque turpis non ex placerat pellentesque. Aenean ac ultrices quam, et
  aliquet eros. Nullam dictum felis consequat augue porttitor, ac semper erat
  volutpat.
</p>
<p *ngIf="paragraphCount > 4">
  Cras ultricies, massa porta efficitur venenatis, lorem eros vestibulum diam,
  quis finibus erat eros vitae diam. Nam quis urna non erat dictum pretium.
  Aenean non tincidunt magna, vitae vulputate dui. Etiam magna purus, tempus in
  ante ut, mollis vestibulum leo. Mauris rutrum quis nunc in efficitur.
  Phasellus eget consectetur orci. Cras vitae rutrum leo, sit amet scelerisque
  lorem. Aliquam non pretium velit. Phasellus maximus felis turpis, convallis
  fringilla nunc interdum at. Aliquam ac efficitur enim, ac aliquam eros. Nunc
  non convallis metus, consectetur tristique augue. Vivamus at metus placerat,
  dapibus dolor at, pulvinar nisi. Etiam dignissim, nibh vitae bibendum posuere,
  dolor nunc sodales nisl, vel finibus dolor nisl sed ligula. Vivamus in
  placerat velit. Vestibulum ante ipsum primis in faucibus orci luctus et
  ultrices posuere cubilia curae;
</p>
<p *ngIf="paragraphCount > 5">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum
  bibendum, tristique diam ut, laoreet ligula. Mauris aliquet lacus ut ante
  consectetur, eget dignissim eros scelerisque. Aenean in porta nisl, eget
  consequat urna. Integer vulputate, sem in porttitor ornare, lacus turpis
  dictum mauris, ac lacinia lorem mauris non velit. Suspendisse venenatis orci
  tellus, eu interdum purus varius quis. Maecenas consequat ligula urna, id
  tincidunt erat lobortis id. Maecenas elementum ex sed odio tincidunt luctus.
</p>
<p *ngIf="paragraphCount > 6">
  Proin luctus, erat non accumsan volutpat, lorem purus porta est, quis
  porttitor libero ante eget purus. Phasellus tortor massa, suscipit vel laoreet
  a, fringilla et orci. Sed neque massa, convallis nec metus at, posuere tempor
  tortor. Pellentesque non leo enim. Suspendisse sed ornare eros, a finibus
  nulla. In consequat neque nec neque sollicitudin, in posuere nibh aliquam. Nam
  vel nibh laoreet metus tristique finibus faucibus eget eros. Vivamus velit
  urna, pellentesque non semper ac, ultrices pellentesque nisi. Praesent
  ullamcorper tempor lectus sed placerat. Vivamus dapibus magna non tortor
  lacinia, non tempor nibh pharetra. Phasellus et magna dolor. Vestibulum
  porttitor blandit suscipit.
</p>
<p *ngIf="paragraphCount > 7">
  Curabitur aliquet eros vel lorem pellentesque, quis gravida massa fermentum.
  Integer aliquam auctor velit, sollicitudin tincidunt dolor laoreet vitae.
  Donec volutpat malesuada luctus. Nunc felis lacus, ultrices at metus sed,
  laoreet iaculis urna. Aenean facilisis metus eget quam lacinia egestas. Fusce
  a metus justo. Donec venenatis nunc at ornare egestas. Nullam tempus non est
  sit amet convallis. Donec nulla nulla, fringilla vel luctus sit amet,
  scelerisque a tellus. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Cras eu felis lectus. Aliquam rutrum
  lorem dui, eu placerat orci faucibus non. Suspendisse hendrerit, turpis vitae
  lobortis euismod, ligula felis ullamcorper lorem, a iaculis neque ex ut
  mauris. Phasellus eu condimentum arcu, eget faucibus purus. Cras ultricies,
  purus at placerat porta, lacus urna malesuada velit, a luctus nulla magna et
  dolor. Donec tellus mauris, luctus quis vulputate vel, luctus sit amet risus.
</p>
<p *ngIf="paragraphCount > 8">
  Donec aliquet posuere nibh, nec laoreet odio imperdiet non. Phasellus pulvinar
  quam eget ante fermentum, consequat imperdiet urna commodo. Proin tincidunt
  turpis efficitur convallis pellentesque. Donec consequat ante nec est
  consectetur, eu interdum leo pellentesque. Curabitur hendrerit libero arcu,
  tempor consequat arcu lacinia et. Sed eu ultricies justo, at iaculis dolor.
  Curabitur tincidunt, ligula eget auctor vestibulum, libero massa feugiat eros,
  a sollicitudin nunc quam vel diam. Fusce in lectus sapien.
</p>
<p *ngIf="paragraphCount > 9">
  Duis pharetra quam vulputate erat molestie fermentum. Aliquam erat volutpat.
  In pulvinar scelerisque velit nec consectetur. Aliquam turpis turpis, dapibus
  id pulvinar sed, porttitor nec neque. Suspendisse sit amet lacinia nisl.
  Curabitur sed diam nulla. Nam nec consectetur risus. In vulputate nunc diam,
  at volutpat mauris finibus eget. Aliquam gravida pharetra congue.
</p>
<p *ngIf="paragraphCount > 10">
  Maecenas interdum orci sed magna mattis, at venenatis tellus efficitur.
  Praesent ultricies rhoncus nisi, vitae mattis ex cursus vel. Quisque a lacinia
  risus. Nunc scelerisque, velit vitae molestie tincidunt, risus purus
  vestibulum ipsum, eget aliquet purus augue dapibus augue. Nunc cursus ipsum
  vel enim rhoncus, ut mattis mauris mattis. Maecenas quis eros euismod, tempor
  nulla vel, volutpat odio. Duis ullamcorper pretium quam, quis pellentesque
  odio iaculis non. Nunc blandit ultrices molestie. Cras in risus non elit
  aliquet vestibulum at vulputate leo.
</p>
<p *ngIf="paragraphCount > 11">
  Quisque volutpat, neque sed commodo ultrices, libero dui consectetur orci, id
  varius orci odio ut ante. Etiam et facilisis ex, sit amet vehicula est.
  Suspendisse nec enim tincidunt, dictum est in, rutrum mi. Praesent egestas
  accumsan ante at congue. Fusce porta metus id iaculis pretium. Vivamus pretium
  elit vel dapibus faucibus. Maecenas eleifend dui ut lacus dictum, eget dictum
  libero semper. Mauris nec feugiat sem. Vestibulum rutrum magna et tempus
  porttitor. Donec at sem in augue luctus vestibulum quis eu lectus. Nulla non
  finibus arcu. Nulla a turpis arcu. Quisque nec elit quis sem lobortis
  hendrerit ac sit amet lacus. Nam nulla est, suscipit id feugiat sodales,
  pretium eu urna.
</p>
<p *ngIf="paragraphCount > 12">
  Phasellus varius bibendum scelerisque. Nam laoreet turpis lobortis ullamcorper
  lacinia. Nam odio est, hendrerit non facilisis in, consectetur quis ante.
  Aenean et consequat odio, ac luctus diam. Donec tincidunt imperdiet lorem,
  maximus ultricies nunc laoreet et. Etiam sed congue augue. Duis bibendum
  dignissim ante eget finibus. Nulla facilisi. Ut at justo vitae nibh
  consectetur finibus. Duis ullamcorper sem in tortor finibus, eu cursus turpis
  faucibus.
</p>
<p *ngIf="paragraphCount > 13">
  Nunc congue elit sit amet malesuada condimentum. Fusce nisl tellus, vehicula a
  risus non, viverra vestibulum mi. Donec pulvinar egestas diam, sed elementum
  nunc convallis nec. Vivamus ipsum mi, ultricies sed varius sed, tempus
  vulputate nisl. Vestibulum quis porttitor ex. Donec imperdiet velit vel sapien
  euismod iaculis. Vestibulum quis augue ipsum. Nunc vitae dolor eros.
  Pellentesque posuere, leo vitae convallis convallis, dolor ex tincidunt dui,
  mollis finibus ligula augue in nisl. Sed condimentum libero id dolor suscipit,
  quis semper est cursus. Morbi blandit ornare justo, hendrerit blandit magna
  tincidunt in. Mauris efficitur mauris id eros finibus, a tempus ligula
  sodales. Praesent nibh est, volutpat non blandit vel, laoreet et nunc.
</p>
<p *ngIf="paragraphCount > 14">
  Etiam varius, risus non condimentum rutrum, nisl metus dapibus risus,
  malesuada sollicitudin ex nibh non urna. Aenean cursus congue bibendum.
  Aliquam erat volutpat. Cras auctor convallis magna. Proin nec blandit ipsum.
  Aenean varius mattis erat nec lobortis. Nulla vehicula orci a leo posuere
  semper.
</p>
