// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  // https://color.adobe.com/create/color-wheel
  --fidlit-adobe-pallette-color-1: #363432;
  --fidlit-adobe-pallette-color-2: #196774;
  --fidlit-adobe-pallette-color-3: #90a19d;
  --fidlit-adobe-pallette-color-4: #f0941f;
  --fidlit-adobe-pallette-color-5: #ef6024;

  --fidlit-ionic-color-primary: #196774;
  --fidlit-ionic-color-secondary: #f0ebc7;
  --fidlit-ionic-color-tertiary: #a3a190;
  --fidlit-ionic-color-success: #d1f0bd;
  --fidlit-ionic-color-warning: #f0ebc7;
  --fidlit-ionic-color-danger: #ef6024;
  --fidlit-ionic-color-medium: #94a6a1;
  --fidlit-ionic-color-light: #d5f0ec;

  --fidlit-logo-color-1: #2af295;
  --fidlit-logo-color-2: #009bfa;
  --fidlit-logo-color-3: #ed90f8;
  --fidlit-logo-color-4: #f2576c;
  --fidlit-logo-color-5: #f3d065;
  --fidlit-logo-color-6: #fa9d82;

  --fidlit-logo-icon-size: 24px;
}

// https://ionicframework.com/docs/theming/color-generator
:root {
  --ion-color-secondary: #2aa9bf;
  --ion-color-secondary-rgb: 42, 169, 191;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #2595a8;
  --ion-color-secondary-tint: #3fb2c5;

  --ion-color-secondary: #196774;
  --ion-color-secondary-rgb: 25, 103, 116;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #165b66;
  --ion-color-secondary-tint: #307682;

  --ion-color-tertiary: #9f3dbf;
  --ion-color-tertiary-rgb: 159, 61, 191;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #8c36a8;
  --ion-color-tertiary-tint: #a950c5;

  --ion-color-success: #21bf7f;
  --ion-color-success-rgb: 33, 191, 127;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #1da870;
  --ion-color-success-tint: #37c58c;

  --ion-color-warning: #bfaf21;
  --ion-color-warning-rgb: 191, 175, 33;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #a89a1d;
  --ion-color-warning-tint: #c5b737;

  --ion-color-danger: #ef6024;
  --ion-color-danger-rgb: 239, 96, 36;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d25420;
  --ion-color-danger-tint: #f1703a;

  --ion-color-medium: #94a6a1;
  --ion-color-medium-rgb: 148, 166, 161;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #82928e;
  --ion-color-medium-tint: #9fafaa;

  --ion-color-light: #d5f0ec;
  --ion-color-light-rgb: 213, 240, 236;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #bbd3d0;
  --ion-color-light-tint: #d9f2ee;

  --highlight-background: #0a7349;
}

/*
 * Dark Colors
 * -------------------------------------------
 */
// https://ionicframework.com/docs/theming/dark-mode#ionic-dark-theme
body.dark {
  --ion-color-primary: #1760e3;
  --ion-color-primary-rgb: 23, 96, 227;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1454c8;
  --ion-color-primary-tint: #2e70e6;

  --ion-color-secondary: #0bc9e3;
  --ion-color-secondary-rgb: 11, 201, 227;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #0ab1c8;
  --ion-color-secondary-tint: #23cee6;

  --ion-color-tertiary: #e32285;
  --ion-color-tertiary-rgb: 227, 34, 133;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c81e75;
  --ion-color-tertiary-tint: #e63891;

  --ion-color-success: #40ad04;
  --ion-color-success-rgb: 96, 250, 12;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #54dc0b;
  --ion-color-success-tint: #70fb24;

  --ion-color-warning: #faf719;
  --ion-color-warning-rgb: 250, 247, 25;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dcd916;
  --ion-color-warning-tint: #fbf830;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --highlight-background: #40ad04;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

.ios body.dark ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
  --ion-item-background: var(--ion-color-step-150);
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}

:root {
  --ion-grid-width-xs: 100%;
  --ion-grid-width-sm: 540px;
  --ion-grid-width-md: 720px;
  --ion-grid-width-lg: 960px;
  --ion-grid-width-xl: 1140px;
}
