@import "../../../../theme/variables.scss";

ion-toolbar {
  margin: auto;
}

@media (min-width: 1140px) {
  ion-toolbar[fixed] {
    margin: 0;
    padding-right: calc((100% - var(--ion-grid-width-xl)) / 2);
    padding-left: calc((100% - var(--ion-grid-width-xl)) / 2);
  }
}

ion-title ion-text {
  padding-left: 5px;
}
