<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <a href="/">
        <app-logo id="logo-icon"></app-logo>
      </a>
      Fidlit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <a href="/">
          <app-logo id="logo-icon"></app-logo>
        </a>
        Fidlit
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><ion-icon name="timer-outline"></ion-icon> Organization
          Age</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-text>
              {{this.organizationAge.parts.years | number: '1.0-0'}} fiscal
              year{{this.organizationAge.parts.years === 1 ? '' : 's'}},
              {{this.organizationAge.parts.days | number: '1.0-0'}}
              day{{this.organizationAge.parts.days === 1 ? '' : 's'}}
              {{this.organizationAge.parts.hours < 10 ? '0' :
              ''}}{{this.organizationAge.parts.hours | number:
              '1.0-0'}}:{{this.organizationAge.parts.minutes < 10 ? '0' :
              ''}}{{this.organizationAge.parts.minutes | number:
              '1.0-0'}}:{{this.organizationAge.parts.seconds < 10 ? '0' :
              ''}}{{this.organizationAge.parts.seconds | number: '1.0-0'}}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Aging Speed</ion-label>
            <ion-select
              interface="popover"
              [value]="organizationSpeedMultiplier"
              (ionChange)="setOrganizationTimeSpeedMultiplier($event)"
            >
              <ion-select-option [value]="1">Normal</ion-select-option>
              <ion-select-option [value]="2">2x</ion-select-option>
              <ion-select-option [value]="5">5x</ion-select-option>
              <ion-select-option [value]="10">10x</ion-select-option>
              <ion-select-option [value]="3600"
                >1 hour = 1 second</ion-select-option
              >
              <ion-select-option [value]="86400"
                >1 day = 1 second</ion-select-option
              >
              <ion-select-option [value]="604800"
                >1 week = 1 second</ion-select-option
              >
              <ion-select-option [value]="2628000"
                >1 month = 1 second</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button
        fill="clear"
        (click)="playOrganizationTime()"
        [disabled]="isOrganizationAgeRunning"
        >Play</ion-button
      >
      <ion-button
        fill="clear"
        (click)="pauseOrganizationTime()"
        [disabled]="!isOrganizationAgeRunning"
        >Pause</ion-button
      >
      <ion-button
        fill="clear"
        (click)="resetOrganizationTime()"
        [disabled]="!isOrganizationAgeRunning"
        >Reset</ion-button
      >
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/avatars/avatar-01-02.svg" />
            </ion-avatar>
            <ion-label>Some Random Avatar 01-02</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Organization </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Title:</ion-label>
            <ion-input
              placeholder="The title of your organization"
              [ngModel]="companyName"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Industry:</ion-label>
            <ion-select
              interface="action-sheet"
              placeholder="Select an industry"
              cancelText="Cancel industry selection"
              [interfaceOptions]="industrySelectorOptions"
              [(ngModel)]="selectedIndustry"
            >
              <ion-select-option *ngFor="let industry of industries; index as i"
                >{{industry}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-button
              shape="round"
              fill="clear"
              slot="end"
              color="medium"
              (click)="toggleMissionVisionHelpDisplay(true)"
            >
              <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-label position="stacked">Mission statement:</ion-label>
            <ion-textarea
              placeholder="The organizational mission statement"
              [ngModel]="missionStatement"
              autoGrow
              required
              spellcheck
            ></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-button
              shape="round"
              fill="clear"
              slot="end"
              color="medium"
              (click)="toggleMissionVisionHelpDisplay(true)"
            >
              <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-label position="stacked">Vision statement:</ion-label>
            <ion-textarea
              placeholder="The organizational vision statement"
              [ngModel]="visionStatement"
              autoGrow
              required
              spellcheck
            ></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button fill="clear" (click)="reloadCompanyName()">
        <ion-icon name="reload-outline" slot="start"></ion-icon>
        Generate Random Fun
      </ion-button>
    </ion-card>
  </div>
  <ion-modal [isOpen]="isMissionVisionHelpVisible">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Mission vs. Vision</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="toggleMissionVisionHelpDisplay(false)"
              [strong]="true"
              >Close</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          An organization's mission statement and a vision statement are both
          important components of an organization's strategy and provide
          direction for decision-making and goal-setting. However, they serve
          different purposes and focus on different aspects of the
          organization's future.
        </p>
        <p>
          A mission statement defines the purpose and focus of an organization,
          and outlines what the company does and why it exists. It provides a
          framework for decision-making and guides the company's actions and
          priorities.
        </p>
        <p>
          A vision statement, on the other hand, is a more aspirational
          statement that defines the organization's desired future state and
          what it wants to achieve. It is a long-term view of what the company
          wants to become and serves as a source of inspiration and motivation
          for employees.
        </p>
        <p>
          In summary, a mission statement answers the question "What do we do?"
          while a vision statement answers the question "What do we want to
          become?"
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
