svg {
  min-width: var(--logo-icon-size, 24px);
  min-height: var(--logo-icon-size, 24px);
  width: var(--logo-icon-size, 24px);
  height: var(--logo-icon-size, 24px);
  max-width: var(--logo-icon-size, 24px);
  max-height: var(--logo-icon-size, 24px);
}
